table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 20%;
}

.search {
    margin-left: 40%;
    margin-top: 2%;
}

.mat-elevation-z8 {
    width: 90%;
    margin-left: 5%;
}

.action {
    width: 15%;
    text-align: center;
}

.button mat-icon {
    text-align: center;
}
